html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

/**,*/
/**:before,*/
/**:after {*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*}*/

.container {
    margin: 0 auto;
    min-height: 100vh;
}

.title {
    font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: block;
    font-weight: 300;
    font-size: 64px;
    color: #35495e;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
}

/*LOGIN PAGE*/
.login-container {
    margin: 0 auto;
    min-height: 100vh;
}

.login-container form {
    width: 200px;
    margin: auto;
    text-align: center;
}

.login-container input {
    width: 100%;
    border: none;
    border-bottom: 1px black solid;
    background: none;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
}

.login-container button {
    width: 100%;
    height: 45px;
    border: none;
    background-color: #f0c808;
    font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    border-radius: 10px;
}

/*TO-DO INPUT*/

.todo-container {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    display: block;
    min-height: 100vh;
}

.todo-container .create-container {
    width: 100%;
    height: 50px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.todo-container input {
    height: 45px;
    width: 250px;
    border: none;
    padding-left: 10px;
    font-family: "Quicksand", "Source Sans Pro", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
    font-size: 18px;
}

.todo-container button {
    position: absolute;
    background-color: transparent;
    height: 50px;
    width: 145px;
    border: none;
    cursor: pointer;
    text-align: right;
    padding-right: 20px;
    font-size: 18px;
}



/*TO-DO ITEM*/
.todo-list-container {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    display: block;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.todo-item {
    width: 100%;
    display: block;
    height: 50px;
    /*   completed {*/
    /*    opacity: 0.2;*/
    /*}*/
}

.todo-item span {
    height: 50px;
    padding-left: 20px;
    line-height: 50px;
    width: 300px;
    display: inline-block;
}
.controls {
    position: absolute;
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

.controls span {
    line-height: 50px;
    height: 50px;
    display: inline-block;
    width: 45px;
    text-align: center;
    padding: 0;
    cursor: pointer;
}
